@charset "utf-8";

body{
    background-color: red;
}

.painel{
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sim{
    height: 40px;
    width: 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: -50px;
    cursor: pointer;
}

#nao{
    position: absolute;
    height: 40px;
    width: 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
}

@media screen and (max-width: 500px) {
    .painel{
        width: 90vw;
        height: 80vh;
    }
    img{
        width: 90vw;
    }
}